.Screen {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #4357692d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
  }