.header {
    font-size: 35px;
    text-align: center;
    line-height: 1.3;
   color: red;
}

.content {
    font-size: 35px;
    text-align: center;
    line-height: 1.3;
    color: blue;
}


.footer {
    font-size: 35px;
    text-align: center;
    line-height: 1.3;
    color: red;
}